
hr { 
     width:100%;
}

#search {width:100%;
         font-size: 150%;
         background-color:white;
         margin-bottom:4%;}


#header {
                 background-color: #ebebeb;
                 color: #333333;
                 font-size:150%;
                 text-align:left;
                 margin-top:-1%;
                 padding-top:3%;
}

#table
{
display: table;
float:left;
font-size:100%;
}


#row
{
display: table-row;
        padding-left:11.5%;
        text-align:center;
        font-weight:bold;
        color: #333333;
}

#cell
{
display: table-cell;
        text-align:left;
        padding-bottom:2%;
}

#submit {height:54.5px;
                width:8%;
                margin-left:-0.8%;
                font-size:55%;
                background-color: #207cca;
                border: 2px solid #207cca;
                color:#fff;
}

#search_box{width:27%;
                   height:50px;
                   margin-left:1%;
                   margin-bottom: 2.5%;
                   border:1.5px solid #d3d5d7;
                   padding-left:1%;
                   font-size:55%;
                   margin-top: 3%;}

#search_l{font-size:90%; 
                  margin-left:15%;
                  float:left;
                  margin-top:3%;
                  width:15%;}
#search_r{font-size:90%;
                  width: 70%;
                  float:right;
                  margin-bottom: 2%;}

#side {float:left;
           width:7.5%;
           font-size:200%;
                }		

.arrow_box {
        position: relative;
        background: #207cca;
}

.arrow_box:after, .arrow_box:before {
        right: 110%;
        top: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
}

.arrow_box:after {
        border-right-color:#207cca;
        border-width: 28.7px;
        margin-top: -23.5px;
        margin-right:8.5px;
}
                                
                
.buttons{float:right;
         width: 55%;
        }

.button_similar{color: #333333;
                                width:12%;
                                margin-right:1%;
                                font-size:90%;
                                padding-top:1%;
                                float:left;
                                padding-bottom:1%;
                                margin-top:1.5%;
                                background-color: #207cca;
                                color:white;
                                border-radius:7px;
                                margin-bottom:4%;
                                }		

.button_similar:hover{font-weight:bold;
                                          border-radius:7px;
                                          box-shadow: 0px 4px 20px #1b486e;
                                          background: #207cca;
                                          background: -webkit-linear-gradient(left top, #0a66b4, #207cca);
                                          background: -o-linear-gradient(bottom right, #0a66b4, #207cca); 
                                          background: -moz-linear-gradient(bottom right, #0a66b4, #207cca); 
                                          background: linear-gradient(to bottom right, #0a66b4, #207cca);}				



.white {color:white;}

.description{font-size:75%;
             margin-left:11.3%;
             width:70%;
             color:#333333;}

.summary{padding-left:11.5%;
                 font-size:110%;
                 padding-right:10%;
                 float:left;
                 color:#333333;
                 }

.head{font-size:130%;
      color:#333333;
      margin-left:4%;}

.buttonIM{width:3.5%;
          float:right;
          font-size:50%;
          background-color: #207cca;
          color: white;
          text-align:center;
          padding-top:1%;
          padding-bottom:1%;
          margin-top:-1.2%;
          margin-bottom:1%;
          border-top-left-radius:20px;
          border-bottom-left-radius:20px;} 

.buttonIM:hover{box-shadow:-5px 0px 60px #333333;
                           font-weight:bold;
                           text-shadow: 5px 5px 3px #1b486e;};